#testDiv1 {
  width: 30%;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
  float: right;
}
#testDiv2 {
  width: 30%;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
  float: right;
}
#container {
  width: 100%;
}
#testDiv3{
  width: 30%;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
  float: right;


}
